:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.anfrage {
    color: grey;
}

.überschriftantrag {
    box-sizing: border-box;
    text-align: left;
    margin-left: 2rem;
    font-size: 2.25rem;
}

.inputanfrage {
    width: 80%;
    padding: 0.75rem 1.25rem;
    box-sizing: border-box;
    border: 0.063rem solid rgb(189, 188, 188);
    border-radius: 0.75rem;
    outline: none;
    text-align: start;
    box-shadow: 10%;
    padding: 0.625rem;
    height: 19.875rem;
    border-color: white;
    box-shadow: 0 0 1rem 0.063rem rgb(213, 213, 213);
}

.inputbetreff {
    width: 80%;
    padding: 0.75rem 1.25rem;
    box-sizing: border-box;
    border: 0.063rem solid rgb(189, 188, 188);
    border-radius: 0.75rem;
    outline: none;
    text-align: left;
    box-shadow: 10%;
    padding: 0.75rem 0.938rem;
    border-color: white;
    box-shadow: 0 0 1rem 0.063rem rgb(213, 213, 213);
}

.buttonprivat {
    background-color:white;
    color: black;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    width: 9.375rem;
    height: 3.063rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.813rem;
    border-color: white;
    border: transparent;
    box-shadow: 0 0 1rem 0.063rem rgb(213, 213, 213);
}

.buttonöffentlich {
    background-color:white;
    color:black;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    width: 9.375rem;
    height: 3.063rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 0.813rem;
    border-color: white;
    border: transparent;
    box-shadow: 0 0 1rem 0.063rem rgb(213, 213, 213);
}

.überschriftantragfertig{
    box-sizing: border-box;
    text-align: center;
    font-size: 2.25rem;
    margin-top: rem;
}

.textantragfertig{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.buttonneuerantrag{
    background-color:#A28AB4;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    width: 11.813rem;
    height: 3.063rem;
    border-radius: 0.813rem;
    border-color: rgb(132, 91, 162); 
}

.buttonantragfertig{
    background-color:#A28AB4;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    width: 9.375rem;
    height: 3.063rem;
    border-radius: 0.813rem;
    border-color: rgb(132, 91, 162); 
}

.inputhidden{
    display: none;
}