* {
  box-sizing: border-box;
  text-align: center;
}

.headerWelle {
  width: 100%;
  height: auto;
  margin-top: -1.6rem;
}

.logo {
  width: 40%;
  height: auto;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding-right: 25px;
  padding-left: 25px;
}

.icon {
  height: 35px;
  width: 35px;
  margin-right: 15px;
}

.buttonlogin {
  background-image: linear-gradient(to right, rgb(132, 91, 162) 0%, rgb(102, 159, 152) 75%);
  color: white;
  margin: 1rem 2rem;
  box-shadow: 3px 3px 3px 3px rgb(213, 213, 213);
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 250ms;
}

.buttonlogintext{
  color:white;
  font-size: 1.2rem;
  margin: -1px -1px;
}

.registrierung {
  color: black;
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.footer {
  position: fixed;
  font-weight: bold;
  left: 0;
  right: 0px;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  text-align: center;
  margin-bottom: 0px;
  color: black;
}


.Home {
  overflow: hidden;
}

.texthome{
  text-align: left;
}