* {
  box-sizing: border-box;
  text-align: center;
}

.headerWelle {
  width: 100%;
  max-height: 100%;
  margin-top: -1.6rem;
}

.logo {
  min-width: 10rem;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding-right: 25px;
  padding-left: 25px;
}

.icon {
  height: 35px;
  width: 35px;
  margin-right: 15px;
}

@media (max-width: 600px) {
  .buttonstartseite {
    background-image: linear-gradient(to right, rgb(132, 91, 162) 0%, rgb(102, 159, 152) 75%);
    color: white;
    width: 90%;
    padding: 0.75rem 1.25rem;
    /* box-shadow: 0.188rem 0.188rem 0.188rem 0.188rem rgb(213, 213, 213); */
    border-radius: 0.75rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 250ms;
    border: none;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 601px) {
  .buttonstartseite {
    background-image: linear-gradient(to right, rgb(132, 91, 162) 0%, rgb(102, 159, 152) 75%);
    color: white;
    width: 34rem;
    padding: 0.75rem 1.25rem;
    /* box-shadow: 0.188rem 0.188rem 0.188rem 0.188rem rgb(213, 213, 213); */
    border-radius: 0.75rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 250ms;
    border: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.buttonstartseitetext {
  color: white;
  font-size: 1.2rem;
  margin: -1px -1px;
}

.registrierung {
  color: black;
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

.footer {
  font-weight: bold;
  width: 100%;
  padding: 2rem;
  text-align: center;
  margin-bottom: 0px;
  color: black;
  position: absolute;
}

.impressumlink {
  color: black;
}

.überunslink {
  color: black;
}

.Home {
  overflow: hidden;
}

.texthome {
  text-align: left;
}

.errorüberschrift {
  box-sizing: border-box;
  text-align: center;
  font-size: 2.25rem;
  margin-top: 5vh;
  color: black;
}

.texterror{
  text-align: center;
  color: black;
  font-size: 1rem;
  margin-top: 18rem;
  font-weight: bold;
}

.linkerror{
  text-align: center;
  color: linear-gradient(to right, rgb(132, 91, 162) 0%, rgb(102, 159, 152) 75%);
  text-decoration: underline;
  font-weight: bold;
  font-size: medium;
}