:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.überschrift {
    box-sizing: border-box;
    text-align: left;
    margin-left: 1.2rem;
    margin-top: 7rem;
    margin-bottom: 2rem;
}

.überschrift1 {
  box-sizing: border-box;
  text-align: left;
  margin-left: 1.2rem;
  margin-bottom: 2rem;
}

.formular {
    width: 90%;
    height: auto;
    margin-top: -1.6rem;
}

.footer{
    position: fixed; 
    bottom: 0px; 
}

.fragebeitrag {
    background-color: rgb(132, 91, 162);
    height: 110px;
    width: 350px;
    margin: 1rem 1rem;
    box-shadow: 3px 3px 3px 3px rgb(213, 213, 213);
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-align: left;
    padding: 10px;
    display: block;
  }

  ul{
    text-align: center;
    color: white;
  }

  .anmelden{
    color: white;
    
  }

  .text{
    text-align: left;
    margin-left: 25px;
  }

  .infotextasyl{
    font-weight: medium;
    text-align: left;
    color: white;
    background-color: #A28AB4;
    box-shadow: 3px 3px 3px 3px rgb(213, 213, 213);
    margin-left: 1rem;
    margin-right: 1rem;
    border: 15px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;

  }

  .text{
    text-align: left;
  }

  .zwischenüberschrift{
    text-align: left;
    margin: 1.5rem;
    font-weight:normal;
  }

  .komment {
    border: 3px solid grey;
    border-radius: 10px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 5px;
    text-align: left;
    font-weight: bold;
  }

  .antwortkomment{
    border: 2px solid grey;
    border-radius: 15px;
    margin-left: 5rem;
    margin-right: 1.5rem;
    padding: 5px;
    text-align: left;
    font-weight: bold;
    font-weight: medium;
  }

  .buttonantworten{
    color:green;
    border-color: green;
    border-radius: 8px;
    background-color: white;
    position: absolute;
    right: 2rem;
    font-weight: medium;
  }

