:root {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

.textlogin {
  box-sizing: border-box;
  text-align: left;
  margin-left: 1.5rem;
  margin-bottom: -0.938rem;
}

.überschriftlogin {
  box-sizing: border-box;
  text-align: left;
  margin-left: 1.5rem;
  font-size: 2.25rem;
}

.input[type=text],
[type=password] {
  width: 80%;
  padding: 0.75rem 1.25rem;
  box-sizing: border-box;
  border: 0.063 solid rgb(189, 188, 188);
  border-radius: 0.75rem;
  outline: none;
  text-align: left;
}

.passwortvergessen {
  font-size: 0.875rem;
  text-decoration: underline;
}

.registrierung {
  color: black;
  font-weight: bold;
}
@media (min-width: 601px) {
  .buttonlogin {
    background-image: linear-gradient(to right, rgb(132, 91, 162) 0%, rgb(102, 159, 152) 75%);
    color: white;
    width: 34rem;
    padding: 0.6rem 1.25rem;
    margin-top: 1.25rem;
    /* box-shadow: 0.188rem 0.188rem 0.188rem 0.188rem rgb(213, 213, 213); */
    border-radius: 0.75rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 250ms;
    border: none
  }
}

@media (max-width: 600px) {
  .buttonlogin {
    background-image: linear-gradient(to right, rgb(132, 91, 162) 0%, rgb(102, 159, 152) 75%);
    color: white;
    width: 90%;
    padding: 0.6rem 1.25rem;
    margin-top: 1.25rem;
    /* box-shadow: 0.188rem 0.188rem 0.188rem 0.188rem rgb(213, 213, 213); */
    border-radius: 0.75rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 250ms;
    border: none
  }
}


