.headerWelle {
    width: 100%;
    height: auto;
    margin-top: -1.6rem;
}

.Home {
    overflow: hidden;
}

.registrierungsbeschreibung {
    text-align: left;
    margin-left: 1.5rem;
    margin-bottom: 0px;
}

.registrierungsheader {
    text-align: left;
    margin-left: 1.5rem;
    margin-top: -25px;
}

.auswaehleninput {

    font-size: 1rem;
    border: 1px solid rgb(189, 188, 188);
    margin-top: 10px;
    padding: 12px 20px;
    border-radius: 10px;
    text-align: left;
    width: 90%;
}

.input[type=text],
[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid rgb(189, 188, 188);
    border-radius: 12px;
    outline: none;
    text-align: left;
}

.buttoneinloggen {
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 25px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1001;
    border-color: #fff;
    border-radius: 12px;
    font-weight: bold;
}

.registrierenweiterbutton {
    background-image: linear-gradient(to right, rgb(132, 91, 162) 0%, rgb(102, 159, 152) 75%);
    color: white;
    width: 80%;
    padding: 12px 20px;
    margin: 1rem 2rem;
    box-shadow: 3px 3px 3px 3px rgb(213, 213, 213);
    border-radius: 12px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 250ms;
    border: none;
}