.headerWelle {
    width: 100%;
    height: 140px;
    margin-top: -2.6rem;
    position: fixed;
    left: 0;
}

.Home {
    overflow: hidden;
}

.registrierungsbeschreibung {
    text-align: left;
    margin-left: 1.5rem;
    margin-bottom: 0rem;        
}

.registrierungsheader {
    text-align: left;
    margin-left: 1.5rem;
    margin-top: 2.563rem;
}

@media (max-width: 600px) {
    .auswaehleninput {
        font-size: 1rem;
        border: 0.063rem solid rgb(189, 188, 188);
        margin-top: 0.625rem;
        padding: 0.75rem 1.25rem;
        border-radius: 0.625rem;
        text-align: left;
        width: 90%;
    }
}

@media (min-width: 601px) {
    .auswaehleninput {
        font-size: 1rem;
        border: 0.063rem solid rgb(189, 188, 188);
        margin-top: 0.625rem;
        padding: 0.75rem 1.25rem;
        border-radius: 0.625rem;
        text-align: left;
        width: 34rem;
    }
}

@media (max-width: 600px) {
    .input[type=text],
    [type=password] {
        width: 90%;
        padding: 0.75rem 1.25rem;
        margin: 0.5rem 0;
        box-sizing: border-box;
        border: 0.063rem solid rgb(189, 188, 188);
        border-radius: 0.75rem;
        outline: none;
        text-align: left;
    }
}

@media (min-width: 601px) {
    .input[type=text],
    [type=password] {
        width: 34rem;
        padding: 0.75rem 1.25rem;
        margin: 0.5rem 2rem;
        box-sizing: border-box;
        border: 0.063rem solid rgb(189, 188, 188);
        border-radius: 0.75rem;
        outline: none;
        text-align: left;
    }
}


.buttoneinloggen {
    background-color: transparent;
    color: white;
    align-items: center;
    justify-content: center;
    width: 5.938rem;
    height: 1.563rem;
    color: #fff;
    cursor: pointer;
    position:fixed;
    top: 1.875rem;
    right: 1.875rem;
    z-index: 1001;
    border-color: #fff;
    border-radius: 0.75rem;
    font-weight: bold;
}

@media (max-width: 600px) {
    .registrierenweiterbutton {
        background-image: linear-gradient(to right, rgb(132, 91, 162) 0%, rgb(102, 159, 152) 75%);
        color: white;
        width: 90%;
        padding: 0.75rem 1.25rem;
        margin: 1rem 1rem;
        /* box-shadow: 0.188rem 0.188rem 0.188rem 0.188rem rgb(213, 213, 213); */
        border-radius: 0.75rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 250ms;
        border: none;
    }
}

@media (min-width: 601px) {
    .registrierenweiterbutton {
        background-image: linear-gradient(to right, rgb(132, 91, 162) 0%, rgb(102, 159, 152) 75%);
        color: white;
        width: 34rem;
        padding: 0.75rem 1.25rem;
        margin: 1rem 1rem;
        /* box-shadow: 0.188rem 0.188rem 0.188rem 0.188rem rgb(213, 213, 213); */
        border-radius: 0.75rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 250ms;
        border: none;
    }
}