:root {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

.überschrift {
  box-sizing: border-box;
  text-align: left;
  margin-left: 1.2rem;
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.überschrift1 {
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 1rem;
  width: 90%;
}

.formular {
  width: 90%;
  height: auto;
  margin-top: -1.6rem;
}

.footer {
  position: fixed;
  bottom: 0rem;
}

.fragebeitrag {
  background-color: rgb(132, 91, 162);
  height: 6.875rem;
  width: 21.875rem;
  margin: 1rem 1rem;
  box-shadow: 0.188rem 0.188rem 0.188rem 0.188rem rgb(213, 213, 213);
  border-radius: 0.75rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  text-align: left;
  padding: 0.625rem;
  display: block;
}

ul {
  text-align: center;
  color: white;
}

.anmelden {
  color: white;

}

.text {
  text-align: left;
  width:90%;
}

.infotextasyl {
  font-weight: medium;
  text-align: left;
  color: black;
  background-color: white;
  margin: 3vh auto;
  border-radius: 0.625rem;
  padding: 2vh;
  font-size: 1.063rem;
  box-shadow: 0 0 1rem 0.063rem rgb(213, 213, 213);
  width: 90%;
}

.text {
  text-align: left;
  font-size: 1.063rem;
  margin-right: 1.2rem;
}

.zwischenüberschrift {
  text-align: left;
  margin: 1.5rem;
  font-weight: bolder;
  margin-bottom: -0.313rem;
  font-size: 1.375rem;
  width: 90%;
}

.zwischenüberschriftasyl {
  font-size: 1.25rem;
  text-align: left;
  margin-left: 2rem;
  padding-top: 0.938rem;
  font-weight: 500;
  width: 90%;
}

.listearbeitserlaubnis {
  color: black;
  text-align: left;
  margin-left: 2.5rem;
  margin-right: 1rem;
  font-size: 1.063rem;
}

.komment {
  border: 0.188rem solid grey;
  border-radius: 0.625rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding: 0.313rem;
  text-align: left;
  font-weight: bold;
}

.antwortkomment {
  border: 0.125 solid grey;
  border-radius: 0.938rem;
  margin-left: 5rem;
  margin-right: 1.5rem;
  padding: 0.313rem;
  text-align: left;
  font-weight: bold;
  font-weight: medium;
}

.buttonantworten {
  color: green;
  border-color: green;
  border-radius: 0.5rem;
  background-color: white;
  position: absolute;
  right: 2rem;
  font-weight: medium;
}

.profilbildantwort {
  size: 1.875rem;
}

.downloadbutton {
  background-color: white;
  color: black;
  border-radius: 0.625rem;
  width: 90%;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: medium;
  box-shadow: 0 0 1rem 0.063rem rgb(213, 213, 213);
  border: transparent;
}

.quellen {
  text-align: left;
  margin-left: 1.5rem;
  margin-top: 1.5rem;

}

.form-container {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  grid-template-areas:
    "kommentarInput submit-button";
}

.kommentarInput {
  font: 'Inter var', sans-serif;
  grid-area: kommentarInput;
  border-color: rgb(189, 188, 188);
  border-radius: 0.75rem;
  text-align: left;
  width: 95%;
  padding: 0.75rem 1.25rem;
  box-sizing: border-box;
  outline: none;
}

.submit-button {
  grid-area: submit-button;
  align-self: center;
  background-color: #A28AB4;
  border-color: #A28AB4;
  border-radius: 0.75rem;
  padding: 0.75rem 1.25rem;
  font-weight: bold;
  color: white;
}

.comment-container {
  background-color: #f5f5f5;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: 0.625rem;
  width: 80%;
  margin-left: 4rem;
  border: 0.1rem solid grey;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.comment-text {
  text-align: left;
  width: 80%;
  position: relative;
  top: 0.6rem;
  right: 1rem;
  left: 0.5rem;
}

.edit-button {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  background-color: #A28AB4;
  border-color: #A28AB4;
  border-radius: 0.5rem;
  padding: 0.2rem 0.7rem;
  font-weight: bold;
  color: white;
}

.delete-button {
  position: absolute;
  bottom: 0.6rem;
  right: 0.6rem;
  background-color: #A28AB4;
  border-color: #A28AB4;
  border-radius: 0.5rem;
  padding: 0.2rem 0.7rem;
  font-weight: bold;
  color: white;
}

.kommentar-bearbeiten {
  border: none;
  background-color: #f5f5f5;
  text-align: left;
  padding: 0.75rem 1.25rem;
  border-radius: 0.55rem;
}

.save-button {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  background-color: #A28AB4;
  border-color: #A28AB4;
  border-radius: 0.75rem;
  padding: 0.75rem 1.25rem;
  font-weight: bold;
  color: white;
}

.beitrag-kommentar-überschrift {
  text-align: left;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}