:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.headerWellelila {
  width: 100%;
  height: auto;
  margin-top: -1.6rem;
}

.header {
  height: 6.25rem;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
}


.buttonbeitrag {
  background-color: white;
  height: 21.875rem;
  width: 20rem;
  margin: 1rem 2rem;
  box-shadow: 0 0 1rem 0.063rem rgb(213, 213, 213);
  border-radius: 1rem;
  font-size: 1.25rem;
  margin-top: 2rem;
  display: block;
  color: black;
  
}

.abstand{
  margin-top: 8rem;
}

img{
  height: 6.25rem;
  width: 6.25rem;
}

.beschreibung{
  text-align: left;
  font-weight: lighter;
  line-height: 0.063rem;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

span{
  text-align: left;
  padding-left: 1.25rem;
  font-weight: medium;
  font-size: 1.25rem;
  font-family: 'Inter', sans-serif;
}

.formular{
  margin-bottom: 0rem;
}

.menu-icon-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}

.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8vw;
  height: 8vh;
  color: #fff;
  cursor: pointer;
  position: fixed;
  top: -0.4vh;
  right: 5vw;
  z-index: 1001;
}

.menu {
  position: fixed;
  top: 0.313rem;
  right: 0.313rem;
  bottom: 0.313rem;
  width: 24.375rem;
  background: rgb(132, 91, 162);
  box-shadow: 0.125rem 0 0.188rem rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0,7s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1002;
}

.menu.open {
  transform: translateX(0);
  position: fixed;
  top: 0;
  right: 0;
  transition: transform 0,7s ease-out;
  
}

.menu ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-top: 5rem;
}

.menu li {
  display: block;
  padding-left: 1.25rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 20rem;
  border-bottom: 0.063rem solid rgba(255, 255, 255, 0.551);
  font-size: 1.25rem;
  text-align: left;
}

.titlebarhauptseite {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.titlebarhauptseite img{
  width: 100%;
  height: auto;
}

.zurueck-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8vw;
  height: 8vh;
  color: #fff;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}

.abmelden {
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 1rem;
  width: 100%;
  text-align: center;
}

.button-container-lila {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 2rem;
  margin-right: 2rem;
}
