:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.überschrift {
    box-sizing: border-box;
    text-align: left;
    margin-left: 1.2rem;
    margin-top: 7rem;
    margin-bottom: 2rem;
}

.überschrift1 {
  box-sizing: border-box;
  text-align: left;
  margin-left: 1.2rem;
  margin-bottom: 1rem;
}

.formular {
    width: 90%;
    height: auto;
    margin-top: -1.6rem;
}

.footer{
    position: fixed; 
    bottom: 0rem; 
}

.fragebeitrag {
    background-color: rgb(132, 91, 162);
    height: 6.875rem;
    width: 21.875rem;
    margin: 1rem 1rem;
    box-shadow: 0.188rem 0.188rem 0.188rem 0.188rem rgb(213, 213, 213);
    border-radius: 1.25rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-align: left;
    padding: 0.625rem;
    display: block;
  }

  ul{
    text-align: center;
    color: white;
  }

  .anmelden{
    color: white;
    
  }

  .text{
    text-align: left;
    margin-left: 1.563rem;
  }

  .infotextasylgrün{
    font-weight: medium;
    text-align: left;
    color: rgb(255, 255, 255);
    background-color: #669F98;
    /* box-shadow: 0.188rem 0.188rem 0.188rem 0.188rem rgb(213, 213, 213); */
    margin-left: 1rem;
    margin-right: 1rem;
    /* border: 0.938rem; */
    border-radius: 0.625rem;
    padding: 0.625rem;
    font-size: 1.063rem;
  }

  .text{
    text-align: left;
    font-size: 1.063rem;
    margin-right: 1.2rem;
  }

  .zwischenüberschrift{
    text-align: left;
    margin: 1.5rem;
    font-weight: bolder;
    margin-bottom: -0.313;
    font-size: 1.375rem;
  }

  .zwischenüberschriftasyl{
    font-size: 1.25rem;
    text-align: left;
    margin-left: 2rem;
    padding-top: 0.938rem;
    font-weight:500;
  }

  .listearbeitserlaubnis{
    color:black;
    text-align: left;
    margin-left: 2.5rem;
    margin-right: 1rem;
    font-size: 1.063rem;
  }

  .komment {
    border: 0.188 solid grey;
    border-radius: 0.625rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 0.313rem;
    text-align: left;
    font-weight: bold;
  }

  .antwortkomment{
    border: 0.125rem solid grey;
    border-radius: 0.938rem;
    margin-left: 5rem;
    margin-right: 1.5rem;
    padding: 0.313rem;
    text-align: left;
    font-weight: bold;
    font-weight: medium;
  }

  .buttonantworten{
    color:green;
    border-color: green;
    border-radius: 0.5rem;
    background-color: white;
    position: absolute;
    right: 2rem;
    font-weight: medium;
  }

  .profilbildantwort{
    size: 1.875rem;
  }

  .downloadbuttongrün{
    background-color:#669F98;
    color:rgb(255, 255, 255);
    border-radius: 0.625rem;
    width: 22.5rem;
    padding: 0.625rem;
    font-size: 1rem;
    font-weight: medium;
  }

  .quellen{
    text-align: left;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    
  }

